# .dockerignore

# Ignore node_modules
node_modules

# Ignore build directories
dist
build



# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore lock files
package-lock.json
yarn.lock

# Ignore IDE specific files
.vscode
.idea

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore miscellaneous files
.DS_Store

# My Stuffs
/my-stuffs
coverage
.nyc_output