.home-messages-container {
  flex: 1;
  padding: 15px 0px;
  // background-color: #f8f9fa; // Bootstrap's light background
  overflow-y: auto; // Scrollable messages

  .message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%; // Limit the max-width of message bubbles
    position: relative;
    margin-bottom: 30px;

    &.user {
      background-color: #007bff; // User bubble color
      color: white;
      align-self: flex-end;
      margin-left: auto; // Align to the right
    }

    &.assistant {
      background-color: #e9ecef; // AI bubble color
      color: black;
      align-self: flex-start; // Align to the left
    }
  }

  .offsetter-div {
    height: 150px;
    background-color: white;
    width: 1px;
  }
}
